#a {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#b {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#c {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#d {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#e {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#f {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#g {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#h {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#i {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#j {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#k {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#l {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#m {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#n {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}

#o {
    background-color: black;
    position: absolute;
    left: 10%;
    width: 20%;
    height: 20%;
    top: 30%;
}